<section [formGroup]="form">
  <div *ngFor="let filter of calendarFilters">
    <mat-form-field>
      <input
        type="text"
        [placeholder]="filter.display_name"
        matInput
        [matAutocomplete]="auto"
        [formControlName]="filter.id"
      />
      <mat-hint
        >{{ filter.selectedItems.length }} {{ filter.display_name }} selected
        <span
          class="clear"
          *ngIf="filter.selectedItems.length > 0"
          (click)="clearFilters(filter)"
        ><mat-icon>cancel</mat-icon>Clear</span
        ></mat-hint
      >
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="filter.displayFn">
      <mat-option
        *ngFor="let filterItem of filter.filtereditems | async"
        [value]="filterItem"
      >
        <div (click)="selected($event, filterItem, filter)">
          <mat-checkbox
            [checked]="filterItem.selected"
            (change)="toggleSelection(filterItem, filter)"
            (click)="$event.stopPropagation()"
          >
            {{ filterItem.title }}
          </mat-checkbox>
        </div>
      </mat-option>
    </mat-autocomplete>
  </div>
</section>
